#topHeader {
    display: flex;
    background-color: black;
    color: white;
    height: 30px;
    flex-grow: 0px;
    overflow: hidden;
}

#topHeader div {
    margin: 0.5% 0% 0% 15%;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}

#header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #eaebec;
    margin-bottom: 40px;
    overflow: hidden;
}

.adidasLogo {
    width: 70px;
    margin-top: 15px;
    margin-left: 50px;
    cursor: pointer;
}

#rightSideBox {
    height: 100%;
    width: 10%;
    margin-top: 0.5%;
    margin-left: 80%;
    /* border: 1px solid red; */
}

#rightSideBox>a>button {
    margin-left: 1%;
    background-color: white;
    border: 0px solid white;
    color: black;
    cursor: pointer;
}

#rightSideBox>a>button:hover {
    cursor: pointer;
}

#rightSideBox>p {
    margin-top: 5%;
    margin-left: 50%;
}

/*------- Footer ----*/


#footer {
    background-color: #363738;
    font-style: normal;
    color: #C8CBCC;
    height: 110px;
    margin-top: 12px;
    font-size: 12px;
    border: 1px solid #363738;
}

#footer>p:first-child {
    display: inline-block;
    margin: 0% 0% 2% 16%;
}

#footer>p:nth-child(2) {
    display: inline-block;
    margin: 1% 0% 2% 45%;
}

#footer>p:last-child {
    margin: 0% 0% 2% 16%;
}

/* ---------- Cart-part ----------- */



#mainBody {
    margin: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 59% 39%;
    gap: 5%;
}

#mainBody>#Boxdiv {

    width: 100%;
}

#yourBag {
    font-size: 45px;
    line-height: 18px;
    font-weight: bold;
    margin-top: 0px;
    border: 1px;

}

#bagDetails {
    margin-top: 3%;
}

#display {
    display: grid;
    gap: 10px;
    margin-bottom: 3%;
    border: 1px;

}

#productSide {
    margin-bottom: 30px;
    border: 1px;
}

#checkoutSide {
    margin-top: 100px;
}

#checkOut {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border: 0px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px 0px 10px 15px;
    font-size: 18px;
    box-shadow: 10px 5px 5px grey;
    font-style: normal;
    display: grid;
    grid-template-columns: auto auto;
}

#checkOut:hover {
    cursor: pointer;
}

#checkOut>div {
    height: auto;
}

#checkOut>div:nth-child(2) {
    text-align: right;
    margin-right: 10%;
    font-size: large;
}

#checkOut>div:nth-child(2):hover {
    color: rgb(199, 199, 199);
    cursor: pointer;

}

#checkOut>div {
    height: auto;
}

#features {
    margin-top: 5%;
    color: grey;
}

#orderSummery {
    font-size: 20px;

}

.orderSummery {

    margin-top: 10%;
    margin-bottom: 5%;
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(255, 255, 255);
}

#table {

    width: 100%;
    border-color: 1px solid rgb(133, 133, 133);
    margin-top: 5%;
    border: 1px;
    margin-bottom: 5%;
    border-collapse: separate;
    border-spacing: 0 15px;
    font-size: 20px;


}

#totalPrice {
    margin-bottom: 40px;
    margin-top: 10px;
}

#totalPrice2,
#delivery,
#totalPrice1 {
    text-align: right;
    padding-right: 10px;
}

#paymentCardImg {
    margin-top: 30px;
    margin-bottom: 50px;
}

#needHelp {

    margin-bottom: 80px;
    border: 1px;


}




#mouseOver {
    color: rgb(75, 75, 75);
}

#mouseOver:hover {
    background-color: black;
    color: white;
    cursor: pointer;

}

#mouseOver_chekout:hover {

    color: rgb(199, 199, 199);
    cursor: pointer;



}




#promoCodebtn {
    width: 84%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 2%;
    padding-left: 5%;
    border: 1px solid grey;

}

#promocodeForm {
    margin-bottom: 5%;
}

#applyBtn {

    width: 90%;
    text-align: left;
    font-size: 20px;
    padding-left: 5%;
    height: 48px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    border: 1px solid grey;


}

#applyBtn:hover {
    color: white;
    background-color: black;
    cursor: pointer;


}

.btnr {
    font-size: 25px;
    text-align: center;
    /* border: 1px solid black; */
}

.btnr:hover {
    font-size: 25px;
    color: white;
    background-color: black;
    cursor: pointer;
}



#mainHeader {
    border: 1px;
    height: 110px
}

@media(max-width : 600px) {

    #header,
    #topHeader {
        /* border: 1px solid red; */
        width: 600px;
    }

    #topHeader div {
        color: black;
    }

    #rightSideBox {
        width: 25%;
        height: 80%;
        margin-left: 40%;
        margin-top: 2%;
        /* border: 1px solid red; */
    }


    #mainBody {
        margin: auto;
        width: 90%;
        display: grid;
        grid-template-columns: auto;
        gap: 5%;
    }

    #mainBody>#display {

        width: 360px;
    }


    #needHelp {

        margin-bottom: 80px;
        border: 1px;
    }

    #checkoutSide {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    #imageProduct {
        width: 100%;

    }

    #footer {
        width: 600px;
    }

    #footer>p:first-child {
        visibility: hidden;
    }

    #footer>p:nth-child(2) {
        display: block;
        text-align: center;
        margin: 0px auto 25px;
    }

    #footer>p:last-child {
        text-align: center;
        display: block;
        margin: auto;
    }
}

.hearderSlideContent {
    /* width: 800px; */
    margin: 10px auto;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}


@media(max-width: 960px) {
    #topHeader>div {
        display: none;
    }
}

a {
    color: black;
}